.main{
    
     margin: auto;
     width: 500px;
     border: 2px solid red;
     padding: 10px 20px 30px 40px ;
     padding-left : 150 px;
}
.h2{
    font-size: 20px;
    background-color: aquamarine;
    text-align: center;
}
.